.cursor {
    height: 3rem;
    width: 3rem;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
  }