@font-face {
    font-family: 'Source Code Variable';
    src: url('/assets/Font/SourceCodeVariable-Italic.otf') format('otf'), 
    url('/assets/Font/SourceCodeVariable-Roman.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'Source Code Variable';
    src: url('/assets/Font/SourceCodeVariable-Italic.otf') format('otf'), 
    url('/assets/Font/SourceCodeVariable-Roman.otf') format('otf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Source Code Variable';
    src: url('/assets/Font/SourceCodeVariable-Italic.otf') format('otf'), 
    url('/assets/Font/SourceCodeVariable-Roman.otf') format('otf');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Source Code Variable';
    src: url('/assets/Font/SourceCodeVariable-Italic.otf') format('otf'), 
    url('/assets/Font/SourceCodeVariable-Roman.otf') format('otf');
    font-weight: 500;
    font-style: normal;
  }

