@import './ui/variable';
// @import './ui/fonts';
@import './ui/global';
@import './ui/mixins';
@import './components/button';
@import './components/preloader';
@import './ui/cursor';


//variable


body{
    // background: #f9f9f9;
    overflow-x: hidden;
    
}
.cover-img{
    width: 100vw;
    
}




.about{
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem;
    padding-bottom: 5rem;
    
}
.bio{
    flex:1 1 40%;
    background: #f9f9f9;
    border-radius: 20px;
    margin: 0 2rem;
    padding: 2rem 1rem;
    text-align: center;
    .bio_pic{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    .bio_name{
        @include text(2rem,$dark,600);
        padding-bottom: .6rem;
    }
    .bio_title{
        p{
            @include text(1.2rem,$text-color,500);
            padding-bottom: .3rem;

        }
        .fiverr-link{
            text-decoration: none;
            text-transform: lowercase;
            @include text(1.2rem,$dark,500);
            padding-bottom:1rem;

        }
        .bio_country{
            @include text(.8rem,$dark,400);
            padding-bottom: 1.3rem;

        }
        .bio_btn{
            padding: .5rem 3rem;
        }
    }
    .social_link{
        margin-top: 1.3rem;
        h3{
            text-transform: capitalize;
            @include text(1.2rem,$dark,600);
            padding-bottom: .6rem;
        }
        
    }
    .social_buttons{
        a{
            &:hover i{
                color: $yellow-2;
                transform: scale(1.2);
            }

            i{
                font-size: 2rem;
                color: $yellow-1;
            }
        }
    }
    .marketplace_link{
        padding: 1rem;
        a{
            display: block;
            padding: .8rem .5rem;
            border: 1px solid grey;
            border-radius: 8px;
            margin-bottom: .5rem;
            @include text(1rem,$text-color,600);
            &:hover{
                background: grey;
                color: #f9f9f9;
                
            }
        }
        
    }
}


.bio_text{
    h1{
        @include text(3rem,$yellow-2,600);
        padding-bottom: .7rem;
    }
    .bio_text_title{
        @include text(1.2rem,#f9f9f9,500);
        padding-bottom: 2rem;

    }
    .bio_text_data{
        text-transform: lowercase;
        @include text(1.2rem,$text-color,400);
        line-height: 1.5rem;
    }
}



.bio_text{
    text-align: center;
    flex: 1 1 60%;
}


// ================= work section ===============

.work{
    padding: 2rem 3rem;
    // margin: 2rem;
    h1{
        @include text(3rem,$yellow-1,600);
        // padding-bottom: 3rem;
        text-align: center;
        position: relative;
        // position: absolute;
        margin-bottom: 4rem;
    }
    h1::before{
        content: "";
        // margin-left: 1rem;
        width: 13rem;
        height: 5px;
        position: absolute;
        background: $yellow-1;
        bottom: -.5rem;
    }
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap:2rem;

}
.card{
    img{
        border-radius: 15px;

    }
    padding-bottom: 2rem;
    padding-right: 2rem;

}