@import './ui/variable';
@import './ui/fonts';
@import './ui/global';
@import './ui/mixins';
@import './components/button';
@import './components/preloader';
@import './ui/cursor';
@import './components/card';
@import './components/footer';





// =========== header section ==========


header{
    // position: fixed;
    // z-index: 100;
    width: 100%;
    height: 5rem;
    // box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    padding: .2rem 3rem;
    // background-color: $dark;
    // border-bottom: solid 2px $red;
    margin-right: 0;
    padding-right: 0;

}

.logo{
    margin-top: 1rem;
    justify-content: center;
    justify-items: center;
}

.logo-img{
    width: 60px;
    height: 60px;

    img{
        width: 100%;
        height: 100%;
    }
}
.logo-text{
    margin-top: .9rem;
//     background: -webkit-linear-gradient(#eee, #333);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
    color: #f0f0f0;
    font-weight: 400;
    font-family: 'sui-generis', sans-serif;
    font-size: 1.8rem;
}

.nav{
    padding-top: 2rem;
    margin-right: 10rem;

    a{
        padding-right: 1.2rem;
        font-size: 1.2rem;
        // font-family: sans-serif;
        color:white;

        &:hover{
            color: $yellow-2;
        }
    }
}

.nav__toggle{
    padding-top: 1.4rem;
    padding-right: 4rem;
    color: $yellow-2;
    font-size: 2rem;
    display: none;

}










// =========== home section ==========

.home{
    padding-top: 3rem;
    padding-left: 5rem;
}

.home-title{
    @include text(48px,$yellow-2,bold);
    line-height: 3.4rem;
    padding-bottom: 1.4rem;

}

.home-title-2{
    @include text(23px,#fff,600);
    padding-bottom: 2rem;
}

.home-data{
    @include text(16px,gray,400);
    line-height: 1.4rem;
    padding-bottom: 2rem;
}

// ================== about section ==========
.about{
    padding-left: 5rem;
    padding-top: 2rem;
}

.about-logo{
    position: relative;
    padding-bottom: 2rem;
}

.text-overlay{
    @include text(64px,#fff,bold);
    opacity: .1;
}
.overlay-logo-text{
    @include text(35px,#fff,bold);
    position: absolute;
    top: 1.8rem;
    left: .7rem;
    opacity: .8;
}

.about-text{
    @include text(20px,gray,500);
    padding-bottom: 4rem;
    line-height: 1.5rem;
    
}

// ============== services section =======

.services{
    padding-top: 5rem;
    padding-left: 1rem;
    margin-bottom: 4rem;
}

.services-logo,.contact-logo{
    position: relative;
    padding-bottom: 3rem;
}
.contact-logo{
    position: relative;
    padding-bottom: 3rem;
}



// ============ contact section =======
.contact{
    padding-top: 2rem;
    padding-left: 5rem;
    
}


.form-info{
    @include text(15px,#fff,500);
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


.input-field{
    // border: none;
    border-bottom: 2px #000 solid;
    padding:.5rem 1rem;
    background: transparent;
    @include text(16px,gray,bold);
}


.checkbox-container{
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 1.6rem;

}

.checkbox{
    margin: 10px;
    padding-bottom: 1rem;
    label{
        cursor: pointer;
    }
}
.checkbox label input[type="checkbox"]{
    display: none;
}

.checkbox label span{
    position: relative;
    border: 2px #fff solid; 
    padding: .6rem 1.8rem;
    border-radius: 30px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    font-size: 20px;
    transition: .3s ease all;


}

.checkbox-container label input[type="checkbox"]:checked ~ span
{
	/*display: block;*/
	color: #fff;
	box-shadow: 1px 1px 1px $yellow-1;
	border: 2px solid $yellow-1;
} 

.checkbox-container div label span:hover{
	color: $yellow-2;
}

.project-info{
    background: transparent;
    padding-bottom: 0;
    border-bottom: 2px $yellow-2 solid ;

    
}
.contact-project-details{
    padding-top: 1rem;
}

.submit-btn{
    margin-top: 3rem;
    padding: 1rem 4rem;
    border: 2px solid $yellow-2;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    background: transparent;
    color: #fff;

    &:hover{
        color: $yellow-3;
    }

}

.address-info p{
    padding-bottom: 1.1rem;
}





// media query

@media screen and (max-width:992px){
    .nav{
        margin-right: 2rem;
    }
    .first-line{
        line-height: 2.5rem;
    }
}

.show-nav{
    top: 0;
}

@media screen and (max-width: 780px){
    .nav__toggle{
        display: block;
        background: transparent;
    }
    .nav{
        position: fixed;
        transition: all .3s ease;
        top: -150%;
        // display: none; 
        height: 60%;
        width: 70%;
        right: 3rem;
        background: #333;
        padding: 5rem;
        margin-top: 5rem;
        // margin-left: 2rem;
        border-radius: 25px;
        z-index: 1000;


        
        a {
            display: block;
            padding-bottom: 1.2rem;
            
        }
    }

    .home,.about,.services,.contact{
        padding-left: 2rem;
    }

    .services{
        padding-top: 8rem;
    }

    .first-line{
        line-height: 2rem;
    }
    .input-field{
        margin-bottom: 1.7rem;
    }
    .input-field2{
        line-height: 3rem;
    }
    



}


@media screen and (max-width:576px){
    .about{
        padding-top: 8rem;
    }
}


@media screen and (max-width: 610px){
    .services{
        padding-top: 10rem;
    
    }
    .about-text{
        @include text(15px,gray,500);
        padding-bottom: 4rem;
        line-height: 1.5rem;
        
    }
    .home-title{
        font-size: 38px;
    }


}

@media screen and (max-width: 542px){
    .services{
        padding-top: 14rem;
    
    }
    .section{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .home,.about{
        
        margin-right: 1rem;
        margin-left: 1rem;
    }

}