@import './ui/variable';
// @import './ui/fonts';
@import './ui/global';
@import './ui/mixins';
@import './components/button';
@import './components/preloader';
@import './ui/cursor';






// =========== header section ==========


header{
    // position: fixed;
    // z-index: 100;
    width: 100%;
    height: 4rem;
    // box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    padding: .2rem 5rem;
    // background-color: $dark;
    // border-bottom: solid 2px $red;

}

.logo{
    margin-top: 1rem;
    justify-content: center;
    justify-items: center;
}

.logo-img{
    width: 70px;
    height: 65px;

    img{
        width: 100%;
        height: 100%;
    }
}
.logo-text{
    margin-top: 1.2rem;
    color: white;
    font-size: 2rem;
}

.nav{
    padding-top: 2rem;
    margin-right: 10rem;

    a{
        padding-right: 1.2rem;
        font-size: 1.3rem;
        // font-family: sans-serif;
        color:white;

        &:hover{
            color: $yellow-2;
        }
    }
}

// =========== home section ==========

.home{
    padding-top: 3rem;
    padding-left: 5rem;
}

.home-title{
    @include text(48px,$yellow-2,bold);
    line-height: 3.4rem;
    padding-bottom: 1.4rem;

}

.home-title-2{
    @include text(23px,#fff,600);
    padding-bottom: 2rem;
}

.home-data{
    @include text(16px,gray,400);
    line-height: 1.4rem;
    padding-bottom: 2rem;
}

// ================== about section ==========
.about{
    padding-left: 5rem;
    padding-top: 2rem;
}

.about-logo{
    position: relative;
    padding-bottom: 2rem;
}

.text-overlay{
    @include text(64px,#fff,bold);
    opacity: .1;
}
.overlay-logo-text{
    @include text(35px,#fff,bold);
    position: absolute;
    top: 1.8rem;
    left: .7rem;
    opacity: .8;
}

.about-text{
    @include text(17px,gray,500);
    padding-bottom: 4rem;
    
}

// ============== services section =======

.services{
    padding-top: 5rem;
    padding-left: 5rem;
}

.services-logo,.contact-logo{
    position: relative;
    padding-bottom: 3rem;
}

.item{
    margin-right: 2rem;
    
}

.item-card{
    margin-right: 2rem;
    width: 350px;
    height: 300px;
    // position: absolute;

}
.item-img{
    position: absolute;
    
    img{
        width: 350px;
        height: 300px;
        border-radius: 20px;
    }
}

.item-title{
    @include text(30px,#fff,bold);
    position: relative;
    top: 15rem;
    left: 2rem;
    
}

// ============ contact section =======
.contact{
    padding-top: 2rem;
    
}


.form-info{
    @include text(15px,#fff,500);
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


.input-field{
    // border: none;
    border-bottom: 2px #000 solid;
    padding:.5rem 1rem;
    background: transparent;
    @include text(16px,gray,bold);
}
.rd-line{
    // margin-top: 3rem;
}

.checkbox-container{
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 1.6rem;

}

.checkbox{
    margin: 10px;
    padding-bottom: 1rem;
    label{
        cursor: pointer;
    }
}
.checkbox label input[type="checkbox"]{
    display: none;
}

.checkbox label span{
    position: relative;
    border: 2px #fff solid; 
    padding: .6rem 1.8rem;
    border-radius: 30px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    font-size: 20px;
    transition: .3s ease all;


}

.checkbox-container label input[type="checkbox"]:checked ~ span
{
	/*display: block;*/
	color: #fff;
	box-shadow: 1px 1px 1px $yellow-1;
	border: 2px solid $yellow-1;
} 

.checkbox-container div label span:hover{
	color: $yellow-2;
}

.project-info{
    background: transparent;
    padding-bottom: 0;
    border-bottom: 2px $yellow-2 solid ;

    
}
.contact-project-details{
    padding-top: 1rem;
}

.submit-btn{
    margin-top: 3rem;
    padding: 1rem 4rem;
    border: 2px solid $yellow-2;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    background: transparent;
    color: #fff;

    &:hover{
        color: $yellow-3;
    }

}
