@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
@font-face {
  font-family: sui-generis;
  src: url(/assets/Font/sui-generis.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #23262a;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.section {
  margin: 3rem 3rem;
}

.btn {
  padding: .6rem 2.5rem;
  border: #D96704 2px solid;
  background: transparent;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 18px;
  color: #F29F05;
  font-weight: 600;
}

.btn:hover {
  color: #e9dbdb;
  background: #D96704;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.loader-container img {
  width: 35rem;
}

.fade-out {
  top: -110%;
  opacity: 0;
}

.cursor {
  height: 3rem;
  width: 3rem;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
}

.services-slider {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 5rem !important;
  position: relative !important;
}

.slide {
  position: relative !important;
  background-color: #23262a;
  height: 30vw !important;
  width: 350px !important;
  margin-right: 3rem;
  margin-left: 3rem;
  /*margin-bottom: 2rem !important;*/
  border-radius: 4px !important;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
}

.slide a {
  text-decoration: none;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  margin-left: 5px;
  height: 90%;
  border-radius: inherit;
  background-color: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: -1;
  background-color: #D96704;
  opacity: .6;
}

.slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 90%;
  margin-left: 5px;
  border-radius: inherit;
  /*//   background-color: inherit;*/
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: -2;
  background-color: #F29F05;
  opacity: .61;
}

.slide:hover {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}

.slide:hover::before {
  -webkit-transform: translate(-30px, 0px);
          transform: translate(-30px, 0px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.slide:hover::after {
  -webkit-transform: translate(-50px, 0px);
          transform: translate(-50px, 0px);
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.swiper-pagination {
  margin-top: 3rem !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: grey;
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #F29F05;
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px !important;
}

.slide .slider-title {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  position: absolute;
  left: -2rem;
  bottom: 10rem;
}

@media screen and (max-width: 800px) {
  .slide {
    height: 50vh !important;
    width: 48vw !important;
    margin-right: 1rem;
  }
  .slide .slider-title {
    bottom: 8rem;
  }
}

@media screen and (max-width: 448px) {
  .slide {
    height: 50vh !important;
    width: 60vw !important;
    margin-right: .5rem;
  }
  .slide .slider-title {
    bottom: 8rem;
  }
}

footer {
  background: #23262a;
  font-family: "Open Sans", "Noto Sans", HelveticaNeueCyr, Helvetica, sans-serif;
  font-size: 11pt;
}

footer#site-footer {
  margin: 0 auto;
  width: 960px;
  background: #23262a;
  padding: 1rem;
  color: #a8a8a8;
}

footer#site-footer a {
  color: #a8a8a8;
}

footer#site-footer a:hover {
  color: #00c3ce;
}

footer#site-footer h1 {
  color: #cecece;
}

footer#site-footer section.horizontal-footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.38rem 2rem;
}

footer#site-footer section.horizontal-footer-section#footer-top-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer#site-footer #footer-logo {
  margin-right: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

footer#site-footer #footer-logo img {
  height: 2.28rem;
}

footer#site-footer ul#footer-top-menu {
  padding: 0;
  margin: 0;
}

footer#site-footer ul#footer-top-menu li {
  display: inline;
  list-style-type: none;
  margin-right: 1.32rem;
  font-weight: bold;
}

footer#site-footer ul#footer-top-menu li a {
  text-decoration: none;
}

footer#site-footer .footer-top-menu-item-active {
  position: relative;
}

footer#site-footer .footer-top-menu-item-active a {
  color: #007ba6;
}

footer#site-footer .footer-top-menu-item-active a:hover {
  color: #00c3ce;
}

footer#site-footer .footer-top-menu-item-active::before {
  content: "";
  background: #007ba6;
  padding: 0.15rem 0;
  width: 100%;
  position: absolute;
  top: 1.68em;
}

footer#site-footer .footer-top-menu-item-active:hover::before {
  background: #00c3ce;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

footer#site-footer #footer-buttons-container {
  margin-left: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

footer#site-footer a.footer-button {
  background: transparent;
  border: 0.15rem solid #a8a8a8;
  border-radius: 1.38rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

footer#site-footer a.footer-button:hover {
  border-color: #00c3ce;
}

footer#site-footer section.horizontal-footer-section#footer-middle-section {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer#site-footer .footer-columns {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  padding-right: 1rem;
}

footer#site-footer .footer-columns-large {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
  padding-right: 2rem;
}

footer#site-footer .footer-columns h1 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 800;
}

footer#site-footer .footer-columns.footer-columns-large h1 {
  font-size: 1.28rem;
  margin-top: 3rem;
  margin-bottom: 1.32rem;
}

footer#site-footer .footer-columns.footer-columns-large h1:first-child {
  margin-top: 0;
}

footer#site-footer ul.footer-column-menu {
  margin: 0;
  padding: 0;
}

footer#site-footer ul.footer-column-menu li {
  list-style-type: none;
  margin-bottom: 0.68rem;
  font-size: 0.88rem;
}

footer#site-footer #footer-about address {
  font-style: normal;
  font-weight: bold;
}

footer#site-footer #footer-about address p img {
  margin-right: 0.68rem;
}

footer#site-footer #footer-about a.footer-button {
  margin-top: 0.32rem;
}

footer#site-footer section.horizontal-footer-section#footer-bottom-section {
  padding: 1.32rem 0;
  margin: 2rem 2rem 1.32rem 2rem;
  border-top: 0.05rem solid #666666;
}

footer#site-footer #footer-social-buttons {
  justify-self: flex-end;
  margin-left: auto;
}

footer#site-footer #footer-social-buttons img {
  margin-left: 0.68rem;
}

footer#site-footer #footer-social-buttons img:hover {
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  footer#site-footer {
    width: 100%;
  }
  footer#site-footer section.horizontal-footer-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer#site-footer section.horizontal-footer-section div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .address-info p {
    padding-bottom: 1.3rem;
  }
  footer#site-footer a.footer-button {
    display: block;
    text-align: center;
    max-width: 350px;
    margin: 0.32rem auto;
  }
  footer#site-footer section.horizontal-footer-section#footer-top-section div {
    margin-top: 0;
    margin-bottom: 1.68rem;
  }
  footer#site-footer #footer-logo {
    margin-right: 0;
  }
  footer#site-footer #footer-buttons-container {
    margin-left: 0;
  }
  footer#site-footer ul#footer-top-menu {
    width: 100%;
    margin: 2rem 0 0 0;
  }
  footer#site-footer .footer-top-menu-item-active::before {
    display: none;
  }
  footer#site-footer #footer-about {
    margin-bottom: 3rem;
  }
  footer#site-footer .footer-columns-large,
  footer#site-footer .footer-columns {
    padding-right: 0;
  }
  footer#site-footer .footer-columns {
    margin-top: 0;
    margin-bottom: 4rem;
  }
  footer#site-footer .footer-columns:last-child {
    margin-bottom: 0;
  }
  footer#site-footer .footer-columns h1 {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  footer#site-footer ul.footer-column-menu li {
    margin-bottom: 0;
    display: block;
    text-align: center;
  }
  footer#site-footer section#footer-bottom-section div {
    text-align: center;
  }
  footer#site-footer section.horizontal-footer-section#footer-bottom-section {
    margin: 1.32rem 0;
    padding: 0;
    border-top: 0;
  }
  footer#site-footer section#footer-bottom-section #footer-social-buttons {
    margin-top: 1.32rem;
  }
}

header {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .2rem 3rem;
  margin-right: 0;
  padding-right: 0;
}

.logo {
  margin-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.logo-img {
  width: 60px;
  height: 60px;
}

.logo-img img {
  width: 100%;
  height: 100%;
}

.logo-text {
  margin-top: .9rem;
  color: #f0f0f0;
  font-weight: 400;
  font-family: 'sui-generis', sans-serif;
  font-size: 1.8rem;
}

.nav {
  padding-top: 2rem;
  margin-right: 10rem;
}

.nav a {
  padding-right: 1.2rem;
  font-size: 1.2rem;
  color: white;
}

.nav a:hover {
  color: #F29F05;
}

.nav__toggle {
  padding-top: 1.4rem;
  padding-right: 4rem;
  color: #F29F05;
  font-size: 2rem;
  display: none;
}

.home {
  padding-top: 3rem;
  padding-left: 5rem;
}

.home-title {
  font-family: sans-serif;
  font-size: 48px;
  color: #F29F05;
  font-weight: bold;
  line-height: 3.4rem;
  padding-bottom: 1.4rem;
}

.home-title-2 {
  font-family: sans-serif;
  font-size: 23px;
  color: #fff;
  font-weight: 600;
  padding-bottom: 2rem;
}

.home-data {
  font-family: sans-serif;
  font-size: 16px;
  color: gray;
  font-weight: 400;
  line-height: 1.4rem;
  padding-bottom: 2rem;
}

.about {
  padding-left: 5rem;
  padding-top: 2rem;
}

.about-logo {
  position: relative;
  padding-bottom: 2rem;
}

.text-overlay {
  font-family: sans-serif;
  font-size: 64px;
  color: #fff;
  font-weight: bold;
  opacity: .1;
}

.overlay-logo-text {
  font-family: sans-serif;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 1.8rem;
  left: .7rem;
  opacity: .8;
}

.about-text {
  font-family: sans-serif;
  font-size: 20px;
  color: gray;
  font-weight: 500;
  padding-bottom: 4rem;
  line-height: 1.5rem;
}

.services {
  padding-top: 5rem;
  padding-left: 1rem;
  margin-bottom: 4rem;
}

.services-logo, .contact-logo {
  position: relative;
  padding-bottom: 3rem;
}

.contact-logo {
  position: relative;
  padding-bottom: 3rem;
}

.contact {
  padding-top: 2rem;
  padding-left: 5rem;
}

.form-info {
  font-family: sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.input-field {
  border-bottom: 2px #000 solid;
  padding: .5rem 1rem;
  background: transparent;
  font-family: sans-serif;
  font-size: 16px;
  color: gray;
  font-weight: bold;
}

.checkbox-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1.6rem;
}

.checkbox {
  margin: 10px;
  padding-bottom: 1rem;
}

.checkbox label {
  cursor: pointer;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label span {
  position: relative;
  border: 2px #fff solid;
  padding: .6rem 1.8rem;
  border-radius: 30px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.checkbox-container label input[type="checkbox"]:checked ~ span {
  /*display: block;*/
  color: #fff;
  -webkit-box-shadow: 1px 1px 1px #D96704;
          box-shadow: 1px 1px 1px #D96704;
  border: 2px solid #D96704;
}

.checkbox-container div label span:hover {
  color: #F29F05;
}

.project-info {
  background: transparent;
  padding-bottom: 0;
  border-bottom: 2px #F29F05 solid;
}

.contact-project-details {
  padding-top: 1rem;
}

.submit-btn {
  margin-top: 3rem;
  padding: 1rem 4rem;
  border: 2px solid #F29F05;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  background: transparent;
  color: #fff;
}

.submit-btn:hover {
  color: #F2B705;
}

.address-info p {
  padding-bottom: 1.1rem;
}

@media screen and (max-width: 992px) {
  .nav {
    margin-right: 2rem;
  }
  .first-line {
    line-height: 2.5rem;
  }
}

.show-nav {
  top: 0;
}

@media screen and (max-width: 780px) {
  .nav__toggle {
    display: block;
    background: transparent;
  }
  .nav {
    position: fixed;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    top: -150%;
    height: 60%;
    width: 70%;
    right: 3rem;
    background: #333;
    padding: 5rem;
    margin-top: 5rem;
    border-radius: 25px;
    z-index: 1000;
  }
  .nav a {
    display: block;
    padding-bottom: 1.2rem;
  }
  .home, .about, .services, .contact {
    padding-left: 2rem;
  }
  .services {
    padding-top: 8rem;
  }
  .first-line {
    line-height: 2rem;
  }
  .input-field {
    margin-bottom: 1.7rem;
  }
  .input-field2 {
    line-height: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .about {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 610px) {
  .services {
    padding-top: 10rem;
  }
  .about-text {
    font-family: sans-serif;
    font-size: 15px;
    color: gray;
    font-weight: 500;
    padding-bottom: 4rem;
    line-height: 1.5rem;
  }
  .home-title {
    font-size: 38px;
  }
}

@media screen and (max-width: 542px) {
  .services {
    padding-top: 14rem;
  }
  .section {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .home, .about {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */